@use "./variables" as *;

footer {
    border-radius: 16px;
    background-color: #fff;
    margin: 16px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    img {
        padding: 18px;
       &:active {
        background-color: $blueMain;
        border-radius: 16px;
       } 
    }
}