@use "./variables" as *;
@use "./scss-reset.scss";
@use "./footer.scss";
@use "./home.scss";
@use './my-data.scss';
@use './carwash-statistics.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: $font-roboto;
  }

.main-container {
    max-width: 375px;
    margin: 0 auto;
    background-color: $bg;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
  }

  .yellow {
    color: $yellowMain;
  }

  .yellow-box {
    width: 48px;
    height: 48px;
    background-color: $yellowMain;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blue-box {
    width: 48px;
    height: 48px;
    background-color: $blueMain;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blue-box-40 {
    width: 40px;
    height: 40px;
    background-color: $blueMain;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }