@use "./variables" as *;
@use "./scss-reset.scss";
@use "./nav-bar.scss";
@use "./home.scss";
@use './my-data.scss';
@use './carwash-statistics.scss';
@use './booking.scss';
@use './manager-order.scss';
@use './delete-reason-popup.scss';
@use './rescheduling-order.scss';
@use './manager-calendar.scss';
@use "./customer_styles/auth.scss";
@use "./customer_styles//otp-verification.scss";
@use "./customer_styles/customer-my-data.scss";
@use "./customer_styles/customer-contact-info.scss";
@use "./customer_styles//my-vehicles.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: $font-roboto;
  }

.main-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: $bg;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
  }

  .yellow {
    color: $yellowMain;
  }

  .yellow-box {
    width: 48px;
    height: 48px;
    background-color: $yellowMain;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blue-box {
    width: 48px;
    height: 48px;
    background-color: $blueMain;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blue-box-40 {
    width: 40px;
    height: 40px;
    background-color: $blueMain;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar-select-btn {
    border-radius: 16px;
    background-color: $blueMain;
    padding: 12px 0px;
    text-align: center;
    color: $yellowMain;
    margin: 0px 16px;
    margin-bottom: 16px;
  }