@use "./variables" as *;

.logo {
    width: 110px;
    height: 32px;
}

.header-container {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  